.back-nav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.album-info {
  min-height: 100vh;
  padding-top: 3rem;
  /* text-align: center; */
  background-color: #e3e6e6;
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.album-data {
  margin: 2rem auto 1rem 1rem;
}

.album-details {
  display: flex;
  flex-direction: column;
}

.album-image {
  display: flex;
}

.album-image img {
  margin: auto;
  width: 250px;
}

.album-details {
  margin: 0.5rem 0;
  font-weight: normal;
}

@media screen and (min-width: 500px) {
  .album-info {
    padding-left: 3rem;
  }
  .album-details {
    flex-direction: row;
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .album-image img {
    margin: 0 1rem;
    width: 400px;
  }
  .album-data {
    padding-left: 2rem;
    align-self: center;
  }
  .back-nav {
    top: 2rem;
    right: 2rem;
  }
}
