.albums {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin: auto;
  width: 100vw;
  padding: 0;
}

.album {
  border-radius: 2%;
  width: 25%;
  background-color: rgb(241, 239, 239);
}

.album img {
  width: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  aspect-ratio: 1 / 1;
}
