.albums {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin: auto;
  padding: 0;
  max-width: 1800px;
}

.album {
  border-radius: 2%;
  width: 75%;
  background-color: rgb(241, 239, 239);
}

.album img {
  width: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  aspect-ratio: 1 / 1;
}

@media screen and (min-width: 700px) {
  .album {
    width: 40%;
  }
}

@media screen and (min-width: 1100px) {
  .album {
    width: 25%;
  }
}

@media screen and (min-width: 1500px) {
  .album {
    width: 20%;
  }
}
