.track-listing {
  padding-bottom: 3rem;
}

.track {
  /* font-size: 1rem; */
  /* padding: 0.25rem; */
  padding: 0.5rem;

  display: flex;
  align-items: center;
  text-align: left;
}

.track-media-button {
  cursor: pointer;
  padding: 0 0.5rem;
  line-height: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.track-number {
  font-size: 1.25rem;
  padding-right: 0.5rem;
  min-width: 2.5rem;
  text-align: right;
}
.track-title {
  font-size: 1rem;
}

h2 {
}

@media screen and (min-width: 500px) {

  .track-listing { 
    padding-top: 3rem;
  }
  .track-title {
    font-size: 1.5rem;
  }
}